language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
  - pip install python-coveralls
script: nosetests --with-coverage --cover-package=pyolite
after_success:
    coveralls
